DATABASE_URL=
DIRECT_URL=

HYPERSYNC_URL=
HYPERSYNC_IMPORT_TOKEN=byow

NEXT_PUBLIC_BITBUCKET_BASE_URL=https://bitbucket.juspay.net
NEXT_PUBLIC_BITBUCKET_PROJECT_KEY=PICAF

BASE_URL="http://localhost:3000"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
